<div class="col-md-9">
    <div class="container-fluid">
        <div class="panel panel-info">
            <div class="panel-heading ">
                <div class="row">
                    <div class="col-md-7">
                        <h4 class="pull-left"> <b>
					              		REQUEST
					              	</b> </h4>
                    </div>
                    <div class="col-md-5 pull-right">
                        <form class="form-vertical" role="search" method="get" action="">
                            <div class="input-group">
                                <input type="text" name="search-item" class="form-control" value="" placeholder="Search">
                                <div class="input-group-btn">
                                    <button class="btn btn-info"><i class="glyphicon glyphicon-search"></i></button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col col-md-6">
                        <div class="dropdown">
                            Sắp xếp:
                            <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Mới nhất <span class="caret" ></span></button>
                            <ul class="dropdown-menu">
                                <li class="active"><a href="#">Mới nhất</a></li>
                                <li><a href="#">Cũ nhất</a></li>
                                <li><a href="#">Theo ID</a></li>
                                <li><a href="#">Theo Tên</a></li>
                            </ul>
                        </div>
                    </div>

                </div>
                <hr>
                <div class="table-responsive ">
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr class="text-center">
                                <th>ID</th>
                                <th>NAME</th>
                                <th>EMAIL</th>
                                <th>EDIT</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each requests}}
                            <tr>
                                <td class="text-center">{{id}}</td>
                                <td class="text-center">{{full_name}}</td>
                                <td class="text-center">{{email}}</td>
                                <td class="text-center">
                                    <a id="accept" href="javascript:;" type="button" class="btn btn-success class-accept" data-id="{{id}}"><i class="glyphicon glyphicon-ok"></i></a>
                                    <a id="ignore" href="javascript:;" type="button" class="btn btn-danger class-ignore" data-id="{{id}}"><i class="glyphicon glyphicon-remove"></i></a>
                                </td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="panel-footer ">
                <div class="row ">
                    <div class="col-md-12 ">
                        <ul class="pagination hidden-xs pull-right ">
                            <li class="active "><a href="# ">1</a></li>
                            <li><a href="# ">2</a></li>
                            <li><a href="# ">3</a></li>
                            <li><a href="# ">4</a></li>
                            <li><a href="# ">5</a></li>
                        </ul>
                        <ul class="pagination visible-xs pull-right ">
                            <li><a href="# ">&laquo;</a></li>
                            <li><a href="# ">&raquo;</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<form method="post" action="/admin/request-management" id="form-post">
    <input type="hidden" name="buttonid" id="buttonid">
    <input type="hidden" name="userid" id="userid">
</form>

{{#section 'script'}}
    <script type="text/javascript">
        $('.dropdown-toggle').dropdown();
        $(".dropdown-menu").on('click', 'li a', function () {
            $(this).parent().parent().siblings(".btn:first-child").html($(this).text() + ' <span class="caret"></span>');
            $(this).parent().parent().siblings(".btn:first-child").val($(this).text());
        });

        $('.class-accept').on('click', function () {
            var buttonid = $(this).attr('id');
            var userid = $(this).data('id');
            $('#buttonid').val(buttonid);
            $('#userid').val(userid);
            $('#form-post').submit();
        });

        $('.class-ignore').on('click', function () {
            var buttonid = $(this).attr('id');
            var userid = $(this).data('id');
            $('#buttonid').val(buttonid);
            $('#userid').val(userid);
            $('#form-post').submit();
        });
    </script>
{{/section}}


{{#section 'profilemenu'}}
<li id="pro_1" class="">
    <a href="/user/profile">
			<i class="glyphicon glyphicon-home"></i>
			Overview </a>
</li>
<li id="pro_4" class="">
    <a href="/admin/change-password">
			<i class="glyphicon glyphicon-lock"></i>
			Change Password </a>
</li>
{{/section}} {{#section 'auctionmenu'}}
<a href="/admin/user-management" class="list-group-item">Users Management</a>
<a href="/admin/product-management" class="list-group-item">Products Management</a>
<a href="/admin/request-management" class="list-group-item active">Request Upgrade Users</a>
<a href="/admin/category-management" class="list-group-item">Category Management</a> {{/section}}