{{#section 'css'}}
<style>
	.overme {
		width: 150px;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
		color: red;
	}
</style>
{{/section}}

{{#section 'script'}}
<script type="text/javascript" src="js/jquery.countdown.min.js"></script>


<script>
	{{#each products}}
	$("#counter-{{id}}")
	.countdown('{{end_time}}', function(event) {
		$(this).text(event.strftime('%D day(s) %H:%M:%S'));
	})
	.on('finish.countdown', function(event) {
	$(this).html('Expired!')
		.parent().addClass('disabled')
	});
	{{/each}}
</script>

{{/section}}

{{#each products}}
<div class="col-md-4">
	<div class="thumbnail">
		<img style="width=50px;height=50px;" src="{{thumb_url}}" alt="{{name}}">
		<div class="caption">
			<a href="#" class="text-center"><h4>{{name}}</h4></a>
			<div class="text-center">Bids: {{bid_number}}</div>
			<div class="text-center" style="font-size: 15px;">Price: <b>{{formatCurrency current_price}}đ</b></div>
			<div class="text-center" style="color:red;">{{lastest_bidder}}</div>
			<div class="text-center" style="font-weight:bold;" id="counter-{{id}}"></div>
			<p><a href="#" class="btn btn-success center-block" role="button">Bid Now</a></p>
		</div>
	</div>
</div>
{{/each}}