{{#section 'css'}}
<style>
	.overme {
		width: 150px;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
		color: red;
	}
</style>
{{/section}}

{{#each products}}
<div class="col-md-4">
	<div class="thumbnail">
		<img src="{{ThumbnailUrl}}" alt="{{Name}}">
		<div class="caption">
			<a href="#" class="text-center"><h4>{{Name}}</h4></a>
			<div class="text-center">Bids: {{Bids}}</div>
			<div class="text-center" style="font-size: 15px;">Price: <b>{{formatCurrency StartPrice}}đ</b></div>
			<div class="text-center">Example</div>
			<p><a href="#" class="btn btn-success center-block" role="button">Bid Now</a></p>
		</div>
	</div>
</div>
{{/each}}