<!DOCTYPE html>


<div class="col-md-9">
    <div class="container-fluid">
        <div class="panel panel-info">
            <div class="panel-heading ">
                <div class="row">
                    <div class="col-md-12">
                        <h4 class="text-center"> <b>
                            LIST PRODUCTS AUCTIONED
                        </b> </h4>
                    </div>
                    {{!--<div class="col-md-6 pull-right">
                        <form class="form-vertical" role="search" method="get" action="">
                            <div class="input-group">
                                <input type="text" name="search-item" class="form-control" value="" placeholder="Search">
                                <div class="input-group-btn">
                                    <button class="btn btn-info"><i class="glyphicon glyphicon-search"></i></button>
                                </div>
                            </div>
                        </form>
                    </div>--}}
                </div>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="dropdown">
                            Sắp xếp:
                            <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Mới nhất <span class="caret" ></span></button>
                            <ul class="dropdown-menu">
                                <li><a href="#" onclick="sortTable(1, 'desc')">Mới nhất</a></li>
                                <li><a href="#" onclick="sortTable(1, 'asc')">Cũ nhất</a></li>							  		
                            </ul>
                        </div>
                    </div>
                    <div class="col col-xs-6 text-right">
                        <div class="pull-right">
                            <div class="btn-group" data-toggle="buttons">
                                <label class="btn btn-default btn-filter" data-target="all">
                                    <input type="radio" name="options" id="option1" autocomplete="off"> All
                                </label>
                                <label class="btn btn-success btn-filter active" data-target="success">
                                    <input type="radio" name="options" id="option2" autocomplete="off" checked>
                                    Success
                                </label>
                                <label class="btn btn-danger btn-filter" data-target="fail">
                                    <input type="radio" name="options" id="option3" autocomplete="off"> Failure
                                </label>
                            </div>
                        </div>
                    </div>
                </div> 
                <hr class="colorgraph">
                <div class="table-responsive " >
                    <table class="table table-striped table-bordered table-hover" id="products-auctioned">
                        <thead>
                            <tr class="text-center">
                                <th>Tên sản phẩm</th>
                                <th>Thời hạn </th>
                                <th>Giá bán thành công</th>
                                <th>Kết quả</th>
                                <th>Người mua</th>
                            </tr> 
                        </thead>
                        <tbody>
                            {{#each products}}
                                {{#if this.status}}
                                    <tr class="success" data-status="success">
                                        <td><a href="detail_of_product.html">{{name}}</a></td>
                                        <td class="text-right">{{end_time}}</td>
                                        <td class="text-right">{{bidded_price}}</td>
                                        <td class="text-center">Thành công</td>
                                        <td><a href="information.html">{{full_name}}</a></td>
                                    </tr>
                                {{else}}
                                    <tr class="danger" data-status="fail">
                                        <td><a href="detail_of_product.html">{{name}}</a></td>
                                        <td class="text-right">{{end_time}}</td>
                                        <td class="text-right">{{bidded_price}}</td>
                                        <td class="text-center">Thất bại</td>
                                        <td><a href="#">{{full_name}}</a></td>
                                    </tr>	
                                {{/if}}
                            {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="panel-footer" >
                <div class="row">
                    <div class="col-md-12">
                        <ul class="pagination hidden-xs pull-right ">
                            <li class="active"><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                        </ul>
                        <ul class="pagination visible-xs pull-right">
                            <li><a href="#">&laquo;</a></li>
                            <li><a href="#">&raquo;</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="js/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>
<script type="text/javascript">
    $('.dropdown-toggle').dropdown();
    $(".dropdown-menu").on('click', 'li a', function () {
        $(this).parent().parent().siblings(".btn:first-child").html($(this).text() + ' <span class="caret"></span>');
        $(this).parent().parent().siblings(".btn:first-child").val($(this).text());
    });

    function sortTable(n, type) {
        var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
        table = document.getElementById("products-auctioned");
        switching = true;
        //Set the sorting direction to ascending:
        dir = type;
        /*Make a loop that will continue until
        no switching has been done:*/
        while (switching) {
            //start by saying: no switching is done:
            switching = false;
            rows = table.getElementsByTagName("TR");
            /*Loop through all table rows (except the
            first, which contains table headers):*/
            for (i = 1; i < (rows.length - 1); i++) {
                //start by saying there should be no switching:
                shouldSwitch = false;
                /*Get the two elements you want to compare,
                one from current row and one from the next:*/
                x = rows[i].getElementsByTagName("td")[n].textContent;

                y = rows[i + 1].getElementsByTagName("td")[n].textContent;

                /*check if the two rows should switch place,
                based on the direction, asc or desc:*/
                if (dir == "asc") {
                    if (new Date(x).getTime() > new Date(y).getTime()) {
                        //if so, mark as a switch and break the loop:
                        shouldSwitch = true;
                        break;
                    }
                } else if (dir == "desc") {
                    if (new Date(x).getTime() < new Date(y).getTime()) {
                        //if so, mark as a switch and break the loop:
                        shouldSwitch = true;
                        break;
                    }
                }
            }
            if (shouldSwitch) {
                /*If a switch has been marked, make the switch
                and mark that a switch has been done:*/
                rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                switching = true;
                //Each time a switch is done, increase this count by 1:
                switchcount++;
            }
        }
    };

</script>

{{#section 'profilemenu'}}
	<li id="pro_1" class="">
		<a href="information">
		<i class="glyphicon glyphicon-home"></i>
		Overview </a>
	</li>

	<li id="pro_3">
		<a href="detail_feedback">
		<i class="glyphicon glyphicon-edit"></i>
		Detail Feedback </a>
	</li>
    <li id="pro_4" class="">
		<a href="change_password">
		<i class="glyphicon glyphicon-lock"></i>
		Change Password </a>
	</li>
{{/section}}

{{#section 'auctionmenu'}}
    <a href="list_products_auction" class="list-group-item">List products auctioning</a>
    <a href="list_products_follows" class="list-group-item">List products following</a>
    <a href="list_products_auctioned" class="list-group-item active">List result products auctioned</a>
{{/section}}
