<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>{{title}}</title>

	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/bootstrap-theme.min.css">
	<!-- Custom css -->
	<link rel="stylesheet" type="text/css" href="css/navbar.css">
	<link rel="stylesheet" href="css/footer.css">
	<link rel="stylesheet" type="text/css" href="css/infor.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

	{{{_sections.css}}}
</head>
<body>	
	<!-- Navication bar -->
	<nav class="navbar navbar-default navbar-static-top">
		<div class="container-fluid">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<!-- Logo of website here -->
				<a class="navbar-brand" href="#">
					BOP Team
				</a>
			</div>
			<!--Right side on navication bar-->
			<div class="collapse navbar-collapse navbar-ex1-collapse">
				<!-- Some option -->
				<ul class="nav navbar-nav">
	                <li><a href="information">Home</a></li>
	                <li><a href="#about">About</a></li>
	                <li><a href="#contact">Contact US</a></li>
	                <li><a href="register">Register</a></li>
	            </ul>
				<ul class="nav navbar-nav navbar-right">
					<li><a href="\"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
				</ul>
			</div>
		</div>
	</nav>

	<div class="container-fluid"  style="margin-top: 24px;">
		<div class="row">
			<div class="col-md-3">
				<div class="profile-sidebar">
					<!-- SIDEBAR USERPIC -->
					<div class="profile-userpic">
						<img src="http://sv1.upsieutoc.com/2017/06/25/tai-anh-gai-xinh-cho-iphone-7-2.jpg" class="img-responsive" alt="">
					</div>
					<!-- END SIDEBAR USERPIC -->
					<!-- SIDEBAR USER TITLE -->
					<div class="profile-usertitle">
						<div class="profile-usertitle-name">
							{{user.full_name}}
						</div>
						<div class="profile-usertitle-dob"> 
							Tổng điểm: {{user.rate_counter}}
						</div>
					</div>
					<!-- SIDEBAR MENU -->
					<div class="profile-usermenu">
						<ul class="nav">
							{{{_sections.profilemenu}}}
						</ul>
					</div>
					<!-- END MENU -->
				</div>	

				<div class="panel panel-info class panel-personal">
					<div class="panel-heading">
						Auction Personal Management
					</div>
					<div class="list-group">
						{{{_sections.auctionmenu}}}
					</div>
				</div>		
			</div>
			{{{body}}}
		</div>
	</div>	


	<footer class="footer-distributed">
		<div class="footer-left">
			<h3>BOP<span>Team</span></h3>
			<p class="footer-links">
				<a href="#">Home</a>
				<a href="#">Blog</a>
				<a href="#">Pricing</a>
				<a href="#">About</a>
				<a href="#">Faq</a>
				<a href="#">Contact</a>
			</p>
			<p class="footer-company-name">Bop Team &copy; 2017</p>
		</div>

		<div class="footer-center">
			<div>
				<i class="fa fa-map-marker"></i>
				<p><span>69 Anonymous Street</span> Hanoi, Vietnam</p>
			</div>
			<div>
				<i class="fa fa-phone"></i>
				<p>+84 12 345 6789</p>
			</div>
			<div>
				<i class="fa fa-envelope"></i>
				<p><a href="mailto:support@company.com">mail@bopteam.vn</a></p>
			</div>
		</div>
		<div class="footer-right">
			<p class="footer-company-about">
				<span>About Us</span>
				Hello, world! We are Bop Team.
			</p>
			<div class="footer-icons">
				<a href="#facebook"><i class="fa fa-facebook"></i></a>
				<a href="#twitter"><i class="fa fa-twitter"></i></a>
				<a href="#google-plus"><i class="fa fa-google-plus"></i></a>
				<a href="#github"><i class="fa fa-github"></i></a>
			</div>
		</div>
	</footer>

	<!-- Latest compiled and minified JavaScript -->
	<script type="text/javascript" src="js/jquery-3.2.1.min.js"></script>
	<script type="text/javascript" src="js/bootstrap.min.js"></script>

</body>
</html>